// Modal window block
#Modal.modal-window.position-fixed
    .darken-background.modal-background.position-absolute.hide-modal
    .modal-wrapper.d-table
        .d-table-cell.align-middle
            .modal-content.col-xl-5.col-lg-7.col-md-9.rounded-0.bg-light.text-dark.p-1.mx-auto.box-shadow
                .position-absolute.col-12
                    .d-flex.flex-row-reverse
                        a.cursor-pointer.hide-modal
                            img(src='./svg/clear.svg', alt='')
                .m-4.small